@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: aliceblue;
    --cor-terciaria: #FF8201;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    background-image: url(/assets/Fundo\ Xadrez.jpg);
    background-position: center;

}

/* COMEÇO CABEÇALHO */
.cabecalho {
    padding: 2% 0% 0% 0%;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

/* FIM CABEÇALHO */

/* COMEÇO APRESENTAÇÃO */
.containerr {
    display: flex;
    height: 100vh;
}

.apresentacao__ola {
    text-align: center;
    justify-content: center;
    font-family: var(--fonte-primaria);
    flex-direction: column;
}

.apresentacao__primeiro__texto {
    color: var(--cor-terciaria);
    font-size: 1rem;
}

.apresentacao__primeiro__destaque {
    color: var(--cor-secundaria);
    font-size: 3.75rem;
}

.apresentacao__segundo__texto {
    font-size: 1.5rem;
    color: var(--cor-secundaria);
}

.apresentacao__segundo__destaque {
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    text-transform: capitalize;
}

/* FIM APRESENTAÇÃO */

/* SEGUNDA SECTION */
.container__grid {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.resumo {
    font-family: var(--fonte-secundaria);

}

.resumo__imagem {
    align-self: center;
    justify-self: end;
    height: 60%;
}


.resumo__sobre {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 2%;
}

.resumo__sobre__titulo {
    font-size: 2.5rem;
}

.resumo__lista {
    display: flex;
    padding: 1.5em 0;
    flex-direction: column;
    gap: 1.8rem;
    list-style-type: none;
}

.resumo__lista__texto {
    font-size: 1.5rem;
}

/* FIM RESUMO */

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.link__navegacao {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 12px;
    width: 50%;
    border-radius: 8px;
    padding: 21.5px 0;
    text-align: center;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
}

.link__navegacao:hover {
    background-color: var(--cor-hover)
}

.apresentacao__contato {
    color: var(--cor-secundaria);
}

.apresentacao__contato__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2rem;
    color: var(--cor-secundaria);
    text-align: center;
}

.formulario {
    display: flex;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 2%;
}


.formulario__input {
    display: flex;
    flex-direction: column;
    width: 20em;
    padding: 10%;
    font-size: 1.5rem;
}

textarea {
    background: var(--cor-hover);
    width: 385px;
}

input {
    background: var(--cor-hover);
    width: 385px;
    height: 35px;
}

.formulario__enviar {
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--cor-terciaria);
    border: 0;
    width: 150px;
    height: 50px;
    margin-bottom: 3%;
    font-size: 1.2rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    cursor: pointer;
}

/* COMEÇO SOBRE MIM */

.sobre {}

.sobre__conteudo {}

.sobre__imagem {}

.sobre__paragrafo {
    padding: 16em 0em 0em 2em
}

/* COMEÇO TORNEIOS */
.torneios__titulo {
    padding: 6% 0% 4% 0%;
    color: var(--cor-secundaria);
    font-size: var(--fonte-primaria);
    font-size: 6rem;
    justify-self: center;

}

.torneios__texto {
    justify-self: center;
    padding: 2% 0%;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.torneios__conteudo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0%
}

.torneios__conteudo__video {
    padding: 0% 5%;
}

.cartao {
    display: flex;
    padding-top: 40%;
    gap: 4%;
}

/* FIM TORNEIOS */

/* COMEÇO RODAPÉ */
.rodape {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 23.68px;
    font-weight: 400;
}

/* FIM RODAPÉ */

/* COMEÇO MEDIA QUERY */
@media (max-height: 800px) {

    .apresentacao__conteudo__links {

        height: 200vh;
    }

    .torneios__titulo {
        padding: 0%;
    }

}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .resumo__imagem {
        height: 40%
    }

    .resumo__sobre__titulo {
        font-size: 2rem;
    }

    .resumo__lista__texto {
        font-size: 1rem;
    }

    .link__navegacao {
        font-size: 1.5rem;
        gap: 10px;
        width: auto;
    }

    .logos {
        width: 10%;
    }

    .formulario__input {

        width: 10em;
        padding: 5%;
        font-size: 1.5rem;
    }


    textarea {
        background: var(--cor-hover);
        width: 150px;
    }

    input {
        background: var(--cor-hover);
        width: 150px;
        height: 35px;
    }

    .rodape {
        width: auto;
        font-size: 1.125rem;
        padding: 26px 0px;
    }

    .cartao {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 40%;
        gap: 4%;
    }

}

@media (max-width: 800px) {
    .cabecalho__menu {}

    .resumo__imagem {
        height: 30%;
    }

    .resumo__sobre {
        padding-left: 10%;
    }

    .resumo__sobre__titulo {
        font-size: 1.5rem;
    }

    .resumo__lista__texto {
        font-size: 0.8rem;
    }

    .cartao {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-top: 80%;
        gap: 4%;

    }

    @media (max-width: 600px) {


        .cabecalho__menu {
            justify-content: space-between;
            gap: 50px;
        }

        .resumo {
            display: flex;
            flex-direction: column;
        }

        .resumo__imagem {
            width: 100%;
            height: 55%;
        }

        .resumo__sobre {
            padding-top: 10%;

        }

        .resumo__sobre__titulo {
            font-size: 2.5rem;
        }

        .resumo__lista__texto {
            font-size: 1.5rem;
        }

        .apresentacao__conteudo__links {
            padding-top: 50%;
        }

        .torneios__conteudo {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .formulario__input {

            width: 5em;
            padding: 5%;
            font-size: 1.5rem;
        }


        textarea {
            background: var(--cor-hover);
            width: 100px;
        }

        input {
            background: var(--cor-hover);
            width: 100px;
            height: 20px;
        }

        .cartao {
            display: flex;
            flex-direction: column;
            padding-top: 150%;
        }
    }
}

/* FIM MEDIA QUERY */